<div class="wrapper">
  <aside class="aside">
    <app-aside [miniNav]="miniNav"></app-aside>
  </aside>
  <div class="body" [ngClass]="{'mini': miniNav}">
    <header class="header">
      <app-header (onToggle)="onToggle($event)"></app-header>
    </header>

    <app-breadcrumb></app-breadcrumb>

    <div class="content-wrapper">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>

    <footer class="footer">
      <app-footer></app-footer>
    </footer>
  </div>
</div>