.wrapper {
  position: relative;
  height: 100vh;
  background-color: #f0f2f5;
}

.body {
  margin-left: 240px;
  overflow: auto;
  height: 100vh;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.breadcrumb {
  height: 54px;
  line-height: 54px;
  padding: 0 24px;
  margin-bottom: 24px;
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
}

.content-wrapper {
  min-height: calc(100vh - 276px);
  margin: 24px;
}

.content {
  min-height: calc(100vh - 276px);
  -webkit-box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, .01);
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, .01);
}

.footer {
  padding: 0 16px;
  margin: 48px 0 24px 0;
  text-align: center;
}