<nz-card [nzLoading]="false">
  <ng-template #body>
    <!-- 搜索条件 -->
    <div class="list-search">
      <form nz-form [formGroup]="searchForm" (ngSubmit)="refreshData()">
        <div nz-row [nzGutter]="40">
          <div nz-col [nzSpan]="8" *ngFor="let filter of filters">
            <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSpan]="5">
                <label>{{filter.label}}</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="19">
                <nz-input [nzSize]="'large'" [nzPlaceHolder]="filter.placeholder"
                          [formControlName]="filter.value"></nz-input>
              </div>
            </div>
          </div>

          <div nz-col [nzSpan]="8">
            <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSpan]="5">
                <label>状态</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="19">
                <nz-select [nzPlaceHolder]="'请选择设备状态'">
                  <nz-option [nzLabel]="'在线'" [nzValue]="'online'"></nz-option>
                  <nz-option [nzLabel]="'离线'" [nzValue]="'offline'"></nz-option>
                  <nz-option [nzLabel]="'位置'" [nzValue]="'other'"></nz-option>
                </nz-select>
              </div>
            </div>
          </div>
        </div>
        <div nz-row>
          <div nz-col [nzSpan]="24" class="text-right">
            <button nz-button [nzType]="'primary'" (click)="refreshData()">搜索</button>
            <button nz-button (click)="resetForm()">重置</button>
          </div>
        </div>
      </form>
    </div>

    <!-- 操作 -->
    <div class="list-actions">
      <button nz-button [nzType]="'primary'" (click)="addModalVisible=true">
        <i class="anticon anticon-plus"></i><span>添加设备</span>
      </button>
    </div>

    <!-- 搜索结果 -->
    <div class="list-result">
      <nz-table
        #nzTable
        [nzAjaxData]="data"
        [(nzPageIndex)]="page"
        [nzTotal]="total"
        [nzLoading]="dataLoading"
        [(nzPageSize)]="pageSize"
        [nzShowSizeChanger]="true"
        (nzPageSizeChange)="refreshData(true)"
        (nzPageIndexChange)="refreshData()">
        <thead nz-thead>
        <tr>
          <th nz-th><span>ID</span></th>
          <th nz-th><span>设备编号</span></th>
          <th nz-th><span>IMEI</span></th>
          <th nz-th><span>设备编号</span></th>
          <th nz-th><span>批次号</span></th>
          <th nz-th><span>状态</span></th>
          <th nz-th><span>更新时间</span></th>
          <th nz-th><span>操作</span></th>
        </tr>
        </thead>
        <tbody nz-tbody>
        <ng-template ngFor let-row [ngForOf]="nzTable.data">
          <tr nz-tbody-tr>
            <td nz-td>{{row.id}}</td>
            <td nz-td>{{row.mid}}</td>
            <td nz-td>{{row.imei}}</td>
            <td nz-td>{{row.mid}}</td>
            <td nz-td>{{row.batch}}</td>
            <td nz-td>
              <nz-tag *ngIf="row.status==='在线';else other" [nzColor]="'green'">{{row.status}}</nz-tag>
              <ng-template #other>
                <nz-tag [nzColor]="'orange'">未知</nz-tag>
              </ng-template>
            </td>
            <td nz-td>{{row.updated}}</td>
            <td nz-td>
              <button nz-button [nzType]="'primary'" [nzSize]="'small'" (click)="showQR(row)">
                <span>查看二维码</span>
              </button>
              <button nz-button [nzType]="'primary'" [nzSize]="'small'" (click)="showEdit(row)">
                <span>编辑</span>
              </button>
              <nz-popconfirm [nzTitle]="'确定要删除这个设备吗？'" (nzOnConfirm)="delConfirm(row)">
                <button nz-popconfirm nz-button [nzType]="'danger'" [nzSize]="'small'">
                  <span>删除</span>
                </button>
              </nz-popconfirm>
            </td>
          </tr>
        </ng-template>
        </tbody>
      </nz-table>
    </div>
  </ng-template>
</nz-card>

<app-add-modal [visible]="addModalVisible"
               (onCancel)="addModalVisible=false"
               (refreshData)="refreshData()"></app-add-modal>

<app-edit-modal [visible]="editModalVisible"
                (onCancel)="editModalVisible=false"
                [currentRow]="currentRow"
                (refreshData)="refreshData()"></app-edit-modal>

<app-qr-modal [visible]="qrModalVisible"
              [currentRow]="currentRow"
              (onCancel)="qrModalVisible=false"></app-qr-modal>