<div nz-row [nzGutter]="24">
  <div nz-col class="gutter-row" [nzSpan]="6">
    <nz-card>
      <ng-template #body>
        <div class="card">
          <div class="card-title">
            <span>总销售额</span>
            <span class="card-title-info">
              <i class="anticon anticon-info-circle-o"></i>
            </span>
          </div>
          <div class="card-body">
            <p class="card-body-total">¥ 126,560</p>
          </div>
        </div>
      </ng-template>
    </nz-card>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="6">
    <nz-card>
      <ng-template #body>
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </ng-template>
    </nz-card>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="6">
    <nz-card>
      <ng-template #body>
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </ng-template>
    </nz-card>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="6">
    <nz-card>
      <ng-template #body>
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </ng-template>
    </nz-card>
  </div>
</div>
<br>

<div nz-row [nzGutter]="24">
  <div nz-col class="gutter-row" [nzSpan]="16">
    <nz-card>
      <ng-template #body>
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </ng-template>
    </nz-card>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="8">
    <nz-card>
      <ng-template #body>
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </ng-template>
    </nz-card>
  </div>
</div>
<br>

<div nz-row [nzGutter]="24">
  <div nz-col class="gutter-row" [nzSpan]="12">
    <nz-card>
      <ng-template #body>
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </ng-template>
    </nz-card>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="12">
    <nz-card>
      <ng-template #body>
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </ng-template>
    </nz-card>
  </div>
</div>
<br>

<div nz-row [nzGutter]="24">
  <div nz-col class="gutter-row" [nzSpan]="24">
    <nz-card>
      <ng-template #body>
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </ng-template>
    </nz-card>
  </div>
</div>
<br>