<div class="header">
  <div class="header-left">
    <div class="btn" (click)="toggle()">
      <i class="anticon" [ngClass]="{'anticon-menu-fold': !miniNav, 'anticon-menu-unfold': miniNav}"></i>
    </div>
  </div>
  <div class="header-right">
    <div class="btn">
      <i class="anticon anticon-search"></i>
    </div>
    <div class="btn">
      <nz-badge [nzCount]="5">
        <ng-template #content>
          <i class="anticon anticon-bell"></i>
        </ng-template>
      </nz-badge>
    </div>


    <nz-dropdown nzPlacement="bottomRight">
      <span class="header-user" nz-dropdown>
        <nz-avatar style="vertical-align: middle;" nzIcon="user"></nz-avatar>
        <span>管理员001</span>
      </span>
      <ul nz-menu>
        <li nz-menu-item>
          <a target="_blank" rel="noopener noreferrer">个人设置</a>
        </li>
        <li nz-menu-item>
          <a target="_blank" rel="noopener noreferrer">修改密码</a>
        </li>
        <li nz-menu-item>
          <a target="_blank" rel="noopener noreferrer">退出</a>
        </li>
      </ul>
    </nz-dropdown>
  </div>
</div>