<div class="header">
  <div class="header-left">
    <div class="btn">
      <i class="anticon anticon-menu-fold"></i>
    </div>
  </div>
  <div class="header-right">
    <div class="btn">
      <i class="anticon anticon-cloud"></i>
    </div>
    <div class="btn">
      <i class="anticon anticon-meh"></i>
    </div>


    <nz-dropdown nzPlacement="bottomRight">
      <span class="header-user" nz-dropdown>
        <i class="anticon anticon-user"></i>
        <span>超级小远子</span>
      </span>
      <ul nz-menu>
        <li nz-menu-item>
          <a target="_blank" rel="noopener noreferrer">个人设置</a>
        </li>
        <li nz-menu-item>
          <a target="_blank" rel="noopener noreferrer">修改密码</a>
        </li>
        <li nz-menu-item>
          <a target="_blank" rel="noopener noreferrer">退出</a>
        </li>
      </ul>
    </nz-dropdown>
  </div>
</div>