.trans {
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.header {
  -webkit-box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, .05);
  box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, .05);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 47px;
  background-color: #fff;
  z-index: 999;
  &-left {

  }
  &-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 16px;
  }
  &-user {
    display: inline-block;
    height: 47px;
    line-height: 47px;
    text-align: center;
    padding: 0 10px;
    cursor: pointer;
    margin-left: 10px;
    @extend .trans;
    i {
      font-size: 14px;
    }
    span {

    }
    &:hover {
      color: #108ee9;
      background-color: rgba(16, 142, 233, .15);
    }
  }
}

.btn {
  width: 47px;
  height: 47px;
  line-height: 47px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  @extend .trans;
  &:hover {
    color: #108ee9;
    background-color: rgba(16, 142, 233, .15);
  }
}