<nz-modal
  [nzVisible]="visible"
  [nzTitle]="'编辑设备'"
  [nzContent]="modalContent"
  (nzOnCancel)="cancel($event)"
  (nzOnOk)="ok($event)"
  [nzConfirmLoading]="loading">
  <ng-template #modalContent>
    <form nz-form [formGroup]="editForm" (ngSubmit)="ok()">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label>IMEI</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
          <p>{{imei}}</p>
        </div>
      </div>

      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label nz-form-item-required>SIM卡号</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('sim')">
          <nz-input [nzSize]="'large'" formControlName="sim" [nzId]="'sim'"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('sim').dirty&&getFormControl('sim').hasError('sim')">The
            SIM 卡号格式错误, 请重新输入!
          </div>
        </div>
      </div>

      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label nz-form-item-required>批次号</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('batch')">
          <nz-input [nzSize]="'large'" formControlName="batch" [nzId]="'batch'"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('batch').dirty&&getFormControl('batch').hasError('batch')">The
            批次号格式错误, 请重新输入!
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</nz-modal>