<div class="account">
  <div class="account-container">
    <div class="account-top">
      <div class="account-top-header">
        <a href="">
          <img class="account-top-header-logo" src="https://gw.alipayobjects.com/zos/rmsportal/NGCCBOENpgTXpBWUIPnI.svg"
               alt="">
          <span class="account-top-header-title">Ant Design</span>
        </a>
        <p class="account-top-header-desc">Ant Design 是西湖区最具影响力的 Web 设计规范</p>
      </div>
    </div>

    <div class="account-foot">
      <div class="account-foot-links">
        <a href="">帮助</a>
        <a href="">隐私</a>
        <a href="">条款</a>
      </div>
      <p class="account-foot-copyright">
        Copyright <i class="anticon anticon-copyright"></i> 2017 蚂蚁金服体验技术部出品
      </p>
    </div>
  </div>
</div>