.aside {
  width: 240px;
  background: #404040;
  position: absolute;
  overflow: visible;
  padding-bottom: 24px;
  height: 100vh;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  color: #999;
  z-index: 10;
  &.mini {
    width: 64px;
    .aside-tool {
      display: none;
    }
    .aside-logo {
      img {
        width: 35px;
        margin: 6px 7px;
      }
    }
  }
  &-toggle {
    position: absolute;
    right: -47px;
    top: 0;
    width: 47px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    &:hover {
      color: #108ee9;
      background-color: rgba(16, 142, 233, .15);
    }
    i {
      font-size: 18px;
    }
  }
  &-logo {
    text-align: center;
    height: 64px;
    line-height: 64px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    img {
      display: inline-block;
      vertical-align: middle;
      height: 32px;
    }
    span {
      color: #fff;
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
      margin-left: 12px;
      font-weight: 300;
    }
  }
  &-menu {
    height: calc(100vh - 144px);
    border-right: none;
    margin: 16px 0;
  }
  &-tool {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 48px;
    background-color: #494949;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 16px 0 24px;
    overflow: hidden;
    z-index: 1000;
    .down-app {
      display: inline-block;
      width: 100%;
      height: 100%;
      color: inherit;
      text-align: center;
      line-height: 48px;
    }
  }
}